* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 253, 253);
}

ul {
  list-style: none;
}

nav {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
}

nav .logo {
  height: 60px;
  width: 60px;
  margin-bottom: 0;
}
.menu {
  width: 99%;
  background-image: linear-gradient(
    to right,
    rgb(247, 150, 150),
    rgb(243, 241, 248)
  );
  border: 2px solid;
  border-color: rgb(243, 115, 115);
  position: static;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links {
  display: inline;
  margin-left: 50px;
}

a:link, a:visited, a:active {
  color: rgb(238, 111, 111);
  text-decoration: none;
}

a:hover {
  color: rgb(184, 146, 233);
}

#carousel {
  text-align: center;
}

#carousel img {
  height: auto;
  width: 60%;
}

#ubicacion {
  display: flex;
  justify-content: center;
}

#mapa {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  display: flex;
  justify-items: center;
}

#mapa iframe {
  width: 100%;
  height: 350px;
  margin: 5%;
}

h2 {
  color: rgb(238, 111, 111);
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  margin-left: 15%;
}

.contact-info i {
  height: 50px;
  width: 50px;
  margin: 1%;
}

.contact-info-i {
display: flex;
flex-direction: row;
align-items: center;
gap: 10px;
color: rgb(238, 111, 111);
margin-top: 1%;
}

.header {
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: rgb(238, 238, 240);
  border: 1px solid;
  text-align: center;
}

#form {
  margin: 5%;
  border: 1px solid blueviolet;
  padding: 2%;
  display: grid;
  grid-template-columns: 2 fr;
}

.form-datosPersonales {
  display: flex;
  justify-content: center;
}

.form-horario {
  display: grid;
  grid-template-rows: repeat (4, 1fr);
  justify-self: center;
}

.form-consulta {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.btn {
  background-color: rgb(80, 80, 255);
  font-family: roboto, arial, helvetica, sans-serif;
  color: white;
}

.estudios {
  display: flex;
  justify-content: center;
  margin: 0;
}

.animate__fadeIn {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
}

.covid-box {
  border: 2px solid rgb(158, 157, 157);
  text-align: center;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  margin: 2%;
  transition: 2seg;
}

.covid-box:hover {
  background-color: rgb(255, 193, 203);
  -moz-transition: .4s linear;
  -webkit-transition: .4s ease-out;
  transition: .4s linear;
}
.covid-box h2 {
  height: 150px;
  border-bottom: 1px solid #000;
  text-justify: auto;
}

.resultados {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.busqueda {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(238, 238, 240);
  border: 1px solid;
  text-align: center;
  width: 20%;
  height: 400px;
  margin: 10%;
  margin-bottom: 14%;
}

.busqueda input {
  width: 40%;
}

.busqueda-datos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conocenos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conocenos-header {
  grid-area: "header";
  margin-top: 10%;
  margin-bottom: 5%;
  background-color: rgb(238, 238, 240);
  border: 1px solid;
  text-align: center;
  width: 70%;
}

.carousel-conocenos img {
  max-width: 100vw;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 5%;
  place-items: center;
}

.about-box {
  width: 50%;
  display: grid;
  text-align: center;
  box-shadow: 2px 2px 32px 2px rgb(230, 211, 248);
  padding: 2%;
}

h3 {
  color: rgb(252, 121, 121);
}

footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-top: 1px solid;
  background-color: rgb(247, 150, 150);
  text-align: right;
  padding: 5px 10px 5px 5px;
  margin-top: 25px;
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  #mapa,
  .estudios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contact-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
  }

  .form-datosPersonales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .busqueda {
    width: 50%;
    margin: 0;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .covid-box {
    margin: 2% 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #mapa,
  .estudios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contact-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
  }

  .form-datosPersonales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .busqueda {
    width: 50%;
    margin: 0;
  }

  .carousel-conocenos img {
    max-width: 500px;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .covid-box {
    margin: 2% 0;
  }
}
